<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Details</title>
</head>
<body>
    <h1>Change Details</h1>
    <form id="changeDetailsForm">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address">
        <label for="city">City:</label>
        <input type="text" id="city" name="city">
        <label for="zipcode">Zipcode:</label>
        <input type="text" id="zipcode" name="zipcode">
        <button type="submit">Change Details</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/static/changeDetails.js"></script>
</body>
</html>