<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/public/static/forgotpassword.js"></script>
<!--    <script src="mysqlConnect.js"></script>-->

</head>
<body>
<div>
    <div>
        <label for = "ID"></label><input placeholder="Voter ID" class = "textField" type="text" id = "ID" name = "ID">
    </div>
    <div>
        <label for = "Email"></label><input placeholder="Voter Email" class = "textField" type="text" id = "Email" name = "Email">
    </div>
    <div>
        <button id = "submit" onclick="forgotPassword()">Submit</button>
    </div>
</div>



</body>
</html>