<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/public/static/script.js"></script>
<!--    <script src="mysqlConnect.js"></script>-->

</head>
<body>
<div>
    <div>
        <label for = "First"></label><input placeholder="First Name" class = "textField" type="text" id = "First" name = "Email">
    </div>
    <div>
        <label for = "Last"></label><input placeholder="Last Name" class = "textField" type="text" id = "Last" name = "Email">
    </div>
    <div>
        <label for = "Email"></label><input placeholder="Voter Email" class = "textField" type="text" id = "Email" name = "Email">
    </div>
    <div>
        <label for = "Phone"></label><input placeholder="Voter Phone No." class = "textField" type="text" id = "Phone" name = "Email">
    </div>
    <div>
        <button id = "submit" onclick="forgotPassword()">Submit</button>
    </div>
</div>



</body>
</html>