<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voting Software</title>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/public/static/script.js"></script>
<!--    <script src="mysqlConnect.js"></script>-->

    <style>

    </style>
</head>
<body>
    <div>
        <div>
            <label for = "input"></label><input placeholder="Voter ID" class = "textField" type="text" id = "input" name = "input">
            <a href = "http://localhost:3000/voters">
                <button id = "submit" class = "submit" onlcick ="GetFirstName()">Submit</button>
            </a>

        </div>
        <div>
            <a href="http://localhost:3000/login">
                <button id = "login" class = "login">Login</button>
            </a>
            <a href = "http://localhost:3000/SignUp">
                <button id = "SignUp" class = "SignUp">Sign Up</button>
            </a>
        </div>

    </div>
</body>
</html>